button {
  all: unset;
  cursor: pointer;
}

.container-element-button-container {
  position: absolute;
  top: 3px;
  padding-bottom: 3px;
  height: 20px;
  width: 24px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.element-button-container {
  position: absolute;
  height: 20px;
  width: 24px;
  padding-bottom: 3px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  border: 1px solid;
  align-items: center;
  justify-content: center;
  background-color: #666376;
}

.element-button {
  height: 13px;
  width: 13px;
}

.tiptap-menu {
  top: -40px;
  left: 0px;
  /* left: anchor(--scroll-anchor end);
  right: anchor(--scroll-anchor start); */
  position: fixed;
  display: flex;
  gap: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  min-width: 300px;
  border: 1px solid #d2d6da;
  height: 36px;
  padding: 0 5px;
}

.tiptap-button {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.tiptap-button:hover {
  background-color: #eeeeef;
  transition: 0.3s;
}

.divider {
  width: 1px;
  background-color: #eeeeef;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.dropdown {
  height: 20px;
  margin: auto 0;
  border: none;
  color: #697789;
  text-align: center;
}

.is-active {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #eeeeef;
  transition: 0.3s;
  margin-top: auto;
  margin-bottom: auto;
}

.un-doable {
  cursor: not-allowed;
  opacity: 0.3;
}
